<h2>Visualización De Los Datos Del Empleado</h2>

    <form name="form" novalidate #f="ngForm">

        <div class=" form-group row">
            <label for="codHuesped" class="form-label" ><b>Codigo: </b>{{empleado.codEmpleado}}</label>
        </div>

        <div class=" form-group row">
            <label for="nombre" class="form-label" ><b>Nombre: </b> {{empleado.nombre}}</label>
        </div>
       
        <div class=" form-group row">
            <label for="apellido" class="form-label"><b>Apellido: </b>{{empleado.apellido}}</label>
        </div>

        <div class=" form-group row">
            <label for="codTipoDocumento" class="form-label"><b>Tipo de Documento: </b> {{empleado.tipDocumento.nomTipoDocumento}}</label>
        </div>

        <div class=" form-group row">
            <label for="numDocumento" class="form-label"><b>Número de Documento: </b> {{empleado.numDocumento}}</label>
        </div>

        <div class=" form-group row">
            <label for="numTelefono" class="form-label"><b>Numero de Contacto </b> {{empleado.numTelefono}}</label>
        </div>

        <div class=" form-group row">
            <label for="correo" class="form-label"><b>E-mail: </b> {{empleado.correo}}</label>
        </div>

        <div class=" form-group row">
            <label for="fechaNacimiento" class="form-label"><b>Fecha de Nacimiento: </b> {{empleado.fechaNacimiento | date:'longDate'}}</label>
        </div>


        <div class=" form-group row">
            <label for="edad"><b>Edad: </b> {{empleado.edad}} años</label>
        </div>

        <div class=" form-group row">
            <label for="direccion" class="form-label"><b>Dirección: </b>{{empleado.direccion}}</label>
        </div>

        <div class=" form-group row">
            <label for="nomContactoEmergencia" class="form-label"><b>Contacto de Emergencia : </b>{{empleado.nomContactoEmergencia}}</label>
        </div>

        <div class=" form-group row">
            <label for="numContactoEmergencia" class="form-label"><b>Numero del Contacto de Emergencia: </b> {{empleado.numContactoEmergencia}}</label>
        </div>

        <div class=" form-group row">
            <label for="eps" class="form-label"><b>EPS: </b> {{empleado.eps}}</label>
        </div>

        <div class=" form-group row">
            <label for="arl" class="form-label"><b>ARL: </b> {{empleado.arl}}</label>
        </div>

        <div class=" form-group row">
            <label for="sexo" class="form-label"><b>Sexo: </b> {{empleado.sexo.nomSexo}}</label>
        </div>

        <div class=" form-group row">
            <label for="tipoSangre" class="form-label"><b>Tipo de Sangre: </b> {{empleado.tipoSangre.nomTipoSangre}}</label>
        </div>

    </form>

    <div class=" form-group row">
        <mat-card-actions align="end">
            <div>
                <button mat-raised-button color="primary" (click)="volver()"><i class="fa-solid fa-arrow-rotate-left fa-sm" style="color: #f6f7f9;"></i> Regresar</button>
            </div>

        </mat-card-actions>
    </div>