* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primario: #060606
}

#logoSantandereano {
    width: 148px;
}

.contenedor {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnLogin {
    height: 46px;
    background:rgb(0,0,0);
    color: white;
    font-weight: 500;
    border:none ;
}

.btnLogin:active {
    background-color: white;
    color: black;
    font-weight: 500;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

.link-primario a {
    text-decoration: none;
    font-weight: 500;
    color: var(--color-primario);
}


.titulo {

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}