<div class="card border-dark mb-3">
    <div class="card-header text-primary">
        <h2>Listado de Empleados</h2>
    </div>

    <div class="my-2 text-left">
        <button mat-icon-button aria-label="addEmpleado" [routerLink]="['/crearEmpleado']">
            <i class="fa-solid fa-user-plus fa-sm" style="color: #050505;"></i>
        </button>
    </div>

    <div class="card-body">

        <div *ngIf="empleados?.length == 0" class="alert alert-info">
            <h4> No existen registros en la base de datos de los empleados! </h4>
        </div>

        <section class="example-container mat-elevation-z8" tabindex="0">
            <!--Table-->
            <table mat-table [dataSource]="empleados" class="mat-elevation-z8"
                *ngIf="empleados && empleados.length > 0">

                <!-- Id_huesped Column -->
                <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef>CODIGO</th>
                    <td mat-cell *matCellDef="let empleados">{{empleados.codEmpleado}} </td>
                </ng-container>

                <!-- tipDocumento Column -->
                <ng-container matColumnDef="tipoDocumento">
                    <th mat-header-cell *matHeaderCellDef>TIPO DE DOCUMENTO</th>
                    <td mat-cell *matCellDef="let empleados"> {{empleados.tipDocumento.nomTipoDocumento}} </td>
                </ng-container>

                <!-- numDocumento Column -->
                <ng-container matColumnDef="numDocumento">
                    <th mat-header-cell *matHeaderCellDef>NUMERO DE DOCUMENTO</th>
                    <td mat-cell *matCellDef="let empleados"> {{empleados.numDocumento}} </td>
                </ng-container>

                <!-- nombre Column -->
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef>NOMBRE</th>
                    <td mat-cell *matCellDef="let empleados"> {{empleados.nombre}} </td>
                </ng-container>

                <!-- apellido Column -->
                <ng-container matColumnDef="apellido">
                    <th mat-header-cell *matHeaderCellDef>APELLIDO</th>
                    <td mat-cell *matCellDef="let empleados"> {{empleados.apellido}} </td>
                </ng-container>

                <!-- email Column -->
                <ng-container matColumnDef="correo">
                    <th mat-header-cell *matHeaderCellDef>E-MAIL</th>
                    <td mat-cell *matCellDef="let empleados"> {{empleados.correo}} </td>
                </ng-container>

                <!-- numero celular Column -->
                <ng-container matColumnDef="numContacto">
                    <th mat-header-cell *matHeaderCellDef>NÚMERO DE CONTACTO</th>
                    <td mat-cell *matCellDef="let empleados"> {{empleados.numTelefono}} </td>
                </ng-container>

                <!-- editar Column -->
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef>ACCIONES</th>

                    <td mat-cell *matCellDef="let empleados">

                        <button mat-icon-button aria-label="editar"
                            routerLink="/actualizarEmpleado/{{empleados.codEmpleado}}">
                            <mat-icon><i class="fa-solid fa-pen-to-square"></i></mat-icon>
                        </button>
                        <button mat-icon-button color="warn" aria-label="eliminar" (click)="deleteEmpleado(empleados)">
                            <mat-icon><i class="fa-solid fa-trash"></i></mat-icon>
                        </button>

                        <button mat-icon-button color="primary" aria-label="verHuespedes"
                            routerLink="/verEmpleado/{{empleados.codEmpleado}}">
                            <mat-icon><i class="fa-solid fa-eye"></i></mat-icon>
                        </button>

                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <app-paginador-empleado *ngIf="paginador" [paginador]="paginador"></app-paginador-empleado>
        </section>


    </div>
</div>