<div class="container mt-5">
    <div class="row justify-content-center">

        <mat-card class="card md-padding">

            <mat-card-header class="card_header">
                <mat-card-title class="card_title">Registro del Huesped</mat-card-title>
            </mat-card-header>


            <mat-card-content class="card_content">

                <form [formGroup]="form" name="form" class="formulario needs-validation" novalidate #f="ngForm">

                    <div class="formulario_group" id="grupo_tipoDocumento">
                        <label for="tipoDocumento" class="formulario_label form-label">Tipo de Documento</label>
                        <div class="formulario_grupo-input">
                            <select class="formulario_select form-select" id="tipoDocumento" name="tipoDocumento"
                                formControlName="tipoDocumento" required>
                                <option selected disabled value="">Escoja una opcion...</option>
                                <option [ngValue]="tipoDocumento" *ngFor="let tipoDocumento of idTipoDocumento">
                                    {{tipoDocumento.nomTipoDocumento}}
                                </option>
                            </select>
                            <div class="invalid-feedback">
                                Escoja un tipo de documento.
                            </div>
                        </div>
                    </div>

                    <div class="formulario_group" id="grupo_numeroDocumento">
                        <label for="numDocumento" class="formulario_label form-label">Número de Documento</label>
                        <div class="formulario_group-input">
                            <input type="number" class="formulario_input form-control" id="numDocumento"
                                name="numDocumento" placeholder="123987345" formControlName="numDocumento" required>
                            <div class="invalid-feedback">
                                El número de documento no debe ir vacio y solo puede contener números sin
                                espacios ni letras
                            </div>
                        </div>
                    </div>

                    <div class="formulario_group" id="grupo_nombre">
                        <label for="nombre" class="formulario_label form-label">Nombre</label>
                        <div class="formulario_group-input">
                            <input type="text" class="formulario_input form-control" id="nombre" name="nombre"
                                placeholder="Camilo Alejandro" formControlName="nombre" required>
                            <div class="invalid-feedback">
                                El nombre no debe ir vacío y solo puede contener espacios y letras
                            </div>
                        </div>
                    </div>

                    <div class="formulario_group" id="grupo_apellido">
                        <label for="apellido" class="formulario_label form-label">Apellido</label>
                        <div class="formulario_group-input">
                            <input type="text" class="formulario_input form-control" id="apellido" name="apellido"
                                placeholder="Ahumada Gomez" formControlName="apellido" required>
                            <div class="invalid-feedback">
                                El apellido no debe ir vacío y solo puede contener espacios y letras
                            </div>
                        </div>
                    </div>

                    <div class="formulario_group" id="grupo_fechaNacimiento">
                        <label for="fechaNacimiento" class="formulario_label form-label">Fecha de Nacimiento</label>
                        <div class="formulario_group-input">
                            <input type="date" class="formulario_input form-control" id="fechaNacimiento"
                                name="fechaNacimiento" placeholder="" formControlName="fechaNacimiento" required>
                            <div class="invalid-feedback">
                                Ingrese el dia - mes - año de la fecha de nacimiento del huesped, no puede ir vacío !.
                            </div>
                        </div>
                    </div>

                    <div class="formulario_group" id="grupo_numTelefono">
                        <label for="numCelular" class="formulario_label form-label">Número de Telefono</label>
                        <div class="formulario_group-input">
                            <input type="tel" class="formulario_input form-control" id="numCelular" name="numCelular"
                                placeholder="3135273906" formControlName="numCelular" required>
                            <div class="invalid-feedback">
                                El número de telefono no debe ir vacío y solo puede contener
                                números
                            </div>
                        </div>
                    </div>


                    <div class="formulario_group" id="grupo_email">
                        <label for="correo" class="formulario_label form-label">E-mail</label>
                        <div class="formulario_group-input input-group has-validation">
                            <input type="email" class="formulario_input form-control" id="correo" name="correo"
                                aria-describedby="inputGroupPrepend" placeholder="correo electronico"
                                formControlName="correo" required>
                            <div class="invalid-feedback">
                                El e-mail no debe ir vacío o no es un e-mail valido.
                            </div>
                        </div>
                    </div>

                    <div class="formulario_group" id="grupo_nacionalidad">
                        <label for="nacionalidad" class="formulario_label form-label">Nacionalidad</label>
                        <div class="formulario_grupo-input">
                            <select class="formulario_select form-select" id="nacionalidad" name="nacionalidad"
                                formControlName="nacionalidad" required>
                                <option selected disabled value="">Escoja una opcion...</option>
                                <option [ngValue]="nacionalidad" *ngFor="let nacionalidad of idNacionalidad">
                                    {{nacionalidad.nombre}}
                                </option>
                            </select>
                            <div class="invalid-feedback">
                                Escoja una nacionalidad.
                            </div>
                        </div>
                    </div>

                    <div class="formulario_group" id="grupo_lugarOrigen">
                        <label for="lugarOrigen" class="formulario_label form-label">Región</label>
                        <div class="formulario_grupo-input">
                            <select class="formulario_select form-select" id="lugarOrigen" name="lugarOrigen"
                                formControlName="lugarOrigen" required>
                                <option selected disabled value="">Escoja una opcion...</option>
                                <option [ngValue]="lugarOrigen" *ngFor="let lugarOrigen of idRegion">
                                    {{lugarOrigen.nombre}}</option>
                            </select>
                            <div class="invalid-feedback">
                                Escoja una region.
                            </div>
                        </div>
                    </div>

                    <div class="formulario_group" id="grupo_nomContacEmergencia">
                        <label for="nomContacEmergencia" class="formulario_label form-label">Contacto de
                            Emergencia</label>
                        <div class="formulario_group-input">
                            <input type="text" class="formulario_input form-control" id="nomContacEmergencia"
                                name="nomContacEmergencia" placeholder="Juan Pastor "
                                formControlName="nomContactoEmergencia">
                        </div>
                    </div>

                    <div class="formulario_group" id="grupo_numContacEmergencia">
                        <label for="numContacEmergencia" class="formulario_label form-label">Número del Contacto de
                            Emergencia</label>
                        <div class="formulario_group-input">
                            <input type="tel" class="formulario_input form-control" id="numContacEmergencia"
                                name="numContacEmergencia" placeholder="3203948647"
                                formControlName="numContactoEmergencia">
                        </div>
                    </div>

                    <mat-card-actions class="formulario_group-buttom" align="end">
                        <button mat-fab extended class="group-button-cancelar" type="button" (click)="volver()">Cancelar</button>
                        <button mat-fab extended class="group-button-enviar" type="submit" (click)="validation()">Enviar
                            <ion-icon name="send"></ion-icon></button>
                    </mat-card-actions>
                </form>

            </mat-card-content>
        </mat-card>
    </div>
</div>